<!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{this.title}}</h3>
            <h5 id="price_product">${{ask_price}}</h5>
        </div>
    </div>
    <div class="productId" data-id="{{id}}"></div>
    <div id="product-splide-row" class="row">
        <div class="col s12 m6 offset-m3 center">
            <div class="splide" data-indicators="true" style="margin:auto;">
                <div class="splide__track">
                    <ul class="splide__list">
                        {{#each image_paths}}
                        <li class="splide__slide"><img src="{{this}}" alt=""></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m5 right">
            <div class="row">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content valign-wrapper">
                            <img id="product-card-profile-img" src="{{User.profilePic}}">
                            <span id="sellerId_product" class="product-card-username action"><a class="orange-text bold" href="../api/userInfo/{{userId}}">{{User.firstName}} {{User.lastName}}</a></span>
                        </div>
                        <div class="card-action">
                            <div id="product-profile-card" class="row valign-wrapper">
                                    <button id="message_btn" data-target="modal1" class="btn white orange-text text-darken-3 waves-effect modal-trigger" data-id="{{userId}} {{id}}" style=" border: solid 1px">Message</button>
                                    <button class="btn orange darken-3 waves-effect" data-id="">Buy</button>
                            </div>                                
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="col s12 m6 left">
            <div class="row">
                <div id="description_product">{{{description}}}</div>
            </div>
        </div>
    </div>
    <!-- TextArea for message -->
    <row>
        <div id="message_form"></div>
    </row>
    <h5>Reviews</h5>
    <div class="row reviews">
        {{!-- This is an example card that is removed when product.js runs --}}
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <p class="review_text"></p>
                </div>
                <div class="card-action">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <form class="review_submit" action="/api/postings/comments" method="POST">
            <div class="row">
                <div class="col s12 m6">
                <input id="postingId" name="postingId" type="hidden" value="{{id}}">
                <label class="left">Leave a review for {{title}}<i
                        class="material-icons black-text">mode_edit</i></label>
            </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                <textarea id="" name="comment" type="text" class="materialize-textarea left"
                    placeholder="Leave a review"></textarea>
                <button class="btn orange darken-3 waves-effect" style="margin-top:10px;">Submit
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    new Splide('.splide').mount();
</script>
<script type="text/javascript" src="/js/product.js"></script>